*{
    margin: 0;
    padding: 0;
}

body{
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
}

.navbar{
    background-color: rgb(58, 0, 88);
    color: white;
    /* height: 60px; */
    padding: 10px;
    /* display: flex;
    justify-content: center; */
}
.container {
    padding: 10px;
}

.bk-container{
    padding: 15px;
    width: 25%;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    margin: 30px;
    display: inline-block;
    vertical-align: top;
}

.bk-container h2{
    color: rgb(136, 1, 169);
}
.bk-container button{
   background-color: rgb(136, 1, 169);
   color: aliceblue;
   padding: 5px;
   border: none;
   border-radius: 8px;
   margin-top: 7px;
   
}
.add-btn{
    background-color: rgb(58, 0, 88);
    color: azure;
    border-radius: 100%;
    padding: 20px 30px;
    font-size: 40px;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.popupoverlay{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
.popup-box{
     background-color: rgb(142, 5, 211);
     width: 40%;
     padding: 40px;
     border-radius: 10px;
     position: absolute;
     top: 20%;
     left: 30%;
     z-index: 2;
     display: none;
}
.popup-box input{
    background: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid 2px black;
}
.popup-box textarea{
    background: transparent;
    width: 100%;
    border: 10px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border: solid 2px black;
}
.popup-box input::placeholder{
    color: black;
}
.popup-box textarea::placeholder{
    color: black;
}
.popup-box button{
    background-color: black;
    color: aliceblue;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    font-size: medium;
}
.popup-box input:focus{
    outline: none;
}
.popup-box textarea:focus{
    outline: none;
}